body {

    background-image: url(/images/fond.jpg);
    background-size: 100%;
}

#global {
    width: 100%;

}

#sidebar {
    width: 250px;
    height: 100vh;
    background-color: #bababc;
}

#content {
    width: calc(100% - 270px);
    margin-left: 10px !important;
    position: absolute;
    top: 20%;
}

#home {
    font-size: 20px;
    text-align: center;
}

#sendMailMessage {
    color: green;
/ / margin: 2 em;
    text-align: center;
}
