body {

    background-image: url(/images/fond.jpg);
    background-size: 100%;
}

#global {
    width: 100%;

}

#sidebar {
    width: 260px;
    height: 100vh;
    background-color: #314153;
    color: #FFFFFF;
}
#sidebar a {
    color: #FFFFFF;
}
.me {
    font-size: 20px;
}
.divider {
    //padding: 1em 0em;
    background-color:#FFFFFF;
}
#content {
    width: calc(100% - 280px);
    margin-left: 10px !important;
    position: absolute;
    top: 20%;
}

#home {
    font-size: 20px;
    text-align: center;
}

#sendMailMessage {
    color: green;
/ / margin: 2 em;
    text-align: center;
}
